---
layout: default
---

<div class="home">

  <h1 class="page-heading"><a href="#about">About</a></h1>

  <section class="page-content">
    <p>
      Hello!
    </p>
    <p>
      I am Jin Suk Park. I love building web apps and contributing on open source softwares.
      I also regularly compete in CTFs.
    </p>
  </section>

  <h1 class="page-heading"><a href="#posts">Posts</a></h1>

  <section class="page-content">
    <ul class="post-list">
      {% for post in site.categories.posts %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>

  <h1 class="page-heading"><a href="#writeups">Writeups</a></h1>

  <section class="page-content">
    <ul class="post-list">
      {% for post in site.categories.writeups %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>

  <h1 class="page-heading"><a href="#projects">Projects</a></h1>
  <section class="page-content">
    <ul class="project-list">
      <li>
        <p>
          <a href="https://github.com/jinmel/pintos_mac">pintos_mac</a>
        </p>
        <p>
          <span class="description">A Macintosh version of Pintos educational operating system
            written by standford. <br>
            Yet still under development.</span>
        </p>
      </li>
      <li>
        <p>
          <a href="https://github.com/jinmel/PostechMarble">PostechMarble</a>
        </p>
        <p>
          <span class="description">
            A computer game modeled after the Monopoly written in C++ and Qt5.1 Framework. <br>
            Built with self written game engine.
          </span>
        </p>
      </li>
      {% comment %} <li> {% endcomment %}
      {% comment %}   <p> {% endcomment %}
      {% comment %}     <a href="https://github.com/jinmel/simplescalar_fmt"> {% endcomment %}
      {% comment %}       FMT Implementation for simplescalar CPU</a> {% endcomment %}
      {% comment %}   </p> {% endcomment %}
      {% comment %}   <p> {% endcomment %}
      {% comment %}     <span class="description"> {% endcomment %}
      {% comment %}       Frontend Miss Table implemented on simplescalar CPU simulator. {% endcomment %}
      {% comment %}     </span> {% endcomment %}
      {% comment %}   </p> {% endcomment %}
      {% comment %} </li> {% endcomment %}
    </ul>
  </section>
</div>
