<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
  <meta name="description" content="Jin Suk Park profile page">
  <meta name="robots" content="index,follow,noodp">
  <meta name="googlebot" content="index,follow">
  <meta name="url" content="https://jinmel.org">
  <meta property="og:url" content="https://jinmel.org/index.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Jin Suk Park">
  <meta property="og:description" content="Jin Suk Park's personal profile page">
  <meta property="og:locale" content="ko_KR">
  <meta property="og:article:author" content="Jin Suk Park">
  <meta property="og:site_name" content="@jinmel">
  <link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/cv.css" | prepend: site.baseurl }}">
  <title>@jinmel</title>
</head>

